.ResizeablePanelGroup {
  display: flex;
}

.ResizeablePanelGroup-ResizeHandle {
  --size-px: 4px;

  flex-grow: 0;
  flex-shrink: 0;

  /* Remove default styles for button */
  border: none;
  padding: 0;

  border-radius: 8px;
  background-color: #ccc;
}

.ResizeablePanelGroup-ResizeHandle_disabled {
  cursor: not-allowed;
}

.ResizeablePanelGroup > .ResizeablePanelGroup-ResizeHandle {
  width: var(--size-px);
}

.ResizeablePanelGroup
  > .ResizeablePanelGroup-ResizeHandle:not(.ResizeablePanelGroup-ResizeHandle_disabled) {
  cursor: ew-resize;
}

.ResizeablePanelGroup_vertical > .ResizeablePanelGroup-ResizeHandle {
  height: var(--size-px);
  width: 100%;
}

.ResizeablePanelGroup_vertical
  > .ResizeablePanelGroup-ResizeHandle:not(.ResizeablePanelGroup-ResizeHandle_disabled) {
  cursor: ns-resize;
}
