---
import { Horizontal } from "../examples/Horizontal";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-screen">
    <nav class="w h-full">
      <a href="#horizontal"></a>
    </nav>
    <main class="w-full h-full">
      <section>
        <h2>Horizontal layout</h2>
        <Horizontal client:visible />
      </section>
    </main>
  </body>
</html>
